img {
  width: 370px;
  height: 200px;
   position: relative;
  background:blue;
   padding: 10px;
  margin-left: auto;
  margin-right: auto;
   border: 5px solid #FF0000;
 margin:10px;
  

}
h1 {text-align: center;
border: 5px solid red;
    background:lightblue;

    
}

    



 
 
